@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Baloo+Tamma+2&display=swap');


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



@media screen and (max-width: 1680px) {
    body, input, select, textarea {
        font-size: 14pt;
    }
}

body, input, select, textarea {
    color: #7c8081;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}
body {
    line-height: 1;
}
html {
    display: block;
    color: text;
}

body.dark #demo-header {
    background: #272d39;
    background: rgba(55, 61, 73, 0.975);
    color: #fff;
    box-shadow: none;
}

#demo-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10000;
    box-shadow: 0 0 1px 0 rgba(16, 16, 32, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.15);
    height: 3.75em;
    -moz-transition: top 0.25s ease-in-out;
    -webkit-transition: top 0.25s ease-in-out;
    -ms-transition: top 0.25s ease-in-out;
    transition: top 0.25s ease-in-out;
    font-size: 0.9em;
    z-index: 10000;
    cursor: default;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
    display: block;
}

#demo-header .left .selector {
    float: left;
}

ul.selector {
    display: inline-block;
    height: 2.75em;
    line-height: 2.7em;
    padding: 0;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    overflow: hidden;
}

#demo-header .left {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    white-space: nowrap;
    overflow: hidden;
} 

#demo-header .left .actions {
    float: left;
    margin-left: 0.5em;
}

ol, ul {
    list-style: none;
}

#demo-header .right {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    white-space: nowrap;
    overflow: hidden;
}

 body.dark #demo-header .selector li, body.dark #demo-header .share {
    border-color: #575d69;
}

#demo-header .share {
    float: left;
}

ul.share {
    display: inline-block;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1em 0 1em;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    border: solid 1px #dee0e3;
    color: #676d79;
    overflow: hidden;
}

.button {
    display: inline-block;
    height: 2.75em;
    line-height: 2.7em;
    padding: 0 1.5em 0 1.5em;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    border: solid 1px #dee0e3;
    white-space: nowrap;
}

.navbar {
    border-color: #080808;
    background: rgba(55,61,73,0.975) !important;
}

.navbar-brand{
    vertical-align: center;
    color: rgba(255, 255, 255, 0.975) !important;
}

a:hover {
  background-color: #676d79;
}

.navbar-nav li.active {
    border-color: #676d79;
    background: #676d79;
    color: white;
}
.nav-link{
    color: white !important;
}

.footer-bg{
    background: rgba(55,61,73,0.975) !important
}

@-moz-keyframes reveal-banner {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes reveal-banner {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-ms-keyframes reveal-banner {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes reveal-banner {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #banner {
        background-attachment: scroll, scroll, scroll, fixed;
        background-color: #645862;
        background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("images/banner.jpg");
        background-position: bottom left, bottom right, top left, top center;
        background-repeat: no-repeat, no-repeat, repeat, no-repeat;
        background-size: 25em, 25em, auto, cover;
        color: #fff;
        cursor: default;
        padding: 6em 0;
        text-align: center;
    }

        #banner .inner {
            -moz-animation: reveal-banner 1s 0.25s ease-in-out;
            -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
            -ms-animation: reveal-banner 1s 0.25s ease-in-out;
            animation: reveal-banner 1s 0.25s ease-in-out;
            -moz-animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            -ms-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            background: rgba(52, 27, 43, 0.5);
            color: #fff;
            display: inline-block;
            opacity: 0;
            padding: 3em;
            text-align: center;
        }

            #banner .inner header {
                display: inline-block;
                border-bottom: solid 2px;
                border-top: solid 2px;
                margin: 0 0 2em 0;
                padding: 3px 0 3px 0;
            }

                #banner .inner header h2 {
                    border-bottom: solid 2px;
                    border-top: solid 2px;
                    font-size: 2.5em;
                    font-weight: 900;
                    letter-spacing: 0.2em;
                    margin: 0;
                    padding-left: 0.05em;
                    position: relative;
                    text-transform: uppercase;
                }

            #banner .inner p {
                letter-spacing: 0.1em;
                margin: 0;
                text-transform: uppercase;
            }

                #banner .inner p a {
                    color: inherit;
                    font-weight: 400;
                    text-decoration: none;
                }

            #banner .inner footer {
                margin: 2em 0 0 0;
            }
body.index #main {
                padding-top: 4.5em;
            }
body #banner{
    /*background: url("images/gmc_sierra.jpeg") !important;
    background-repeat: no-repeat;*/
    background: url("images/gmc_sierra.jpeg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
ul.buttons.stacked li {
            display: block;
            padding: 1.5em 0 0 0;
        }

            ul.buttons.stacked li:first-child {
                padding: 0;
            }
html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        background: #f3f6fa;
    }

        body.is-preload *, body.is-preload *:before, body.is-preload *:after {
            -moz-animation: none !important;
            -webkit-animation: none !important;
            -ms-animation: none !important;
            animation: none !important;
            -moz-transition: none !important;
            -webkit-transition: none !important;
            -ms-transition: none !important;
            transition: none !important;
        }

    body, input, select, textarea {
        color: #7c8081;
        font-family: 'Lato', sans-serif;
        font-size: 15pt;
        font-weight: 300;
        letter-spacing: 0.025em;
        line-height: 1.75em;
    }

    a {
        -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        color: #3fb1a3;
        text-decoration: none;
        /*border-bottom: dotted 1px;*/
    }

        /*a:hover {
            border-bottom-color: transparent;
        }*/

    strong, b {
        font-weight: 400;
    }

    p, ul, ol, dl, table, blockquote {
        margin: 0 0 2em 0;
    }

    h2, h3, h4, h5, h6 {
        color: inherit;
        font-weight: 300;
        line-height: 1.75em;
        margin-bottom: 1em;
        text-transform: uppercase;
    }

    h1 {
        color: inherit;
        font-weight: 300;
        line-height: 1.75em;
        text-transform: uppercase;
    }

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        text-decoration: none;
        border: 0;
    }

    h2 {
        font-size: 1.5em;
        letter-spacing: 0.1em;
    }

    h3 {
        font-size: 1.15em;
        letter-spacing: 0.025em;
    }

    sub {
        font-size: 0.8em;
        position: relative;
        top: 0.5em;
    }

    sup {
        font-size: 0.8em;
        position: relative;
        top: -0.5em;
    }

    hr {
        border-top: solid 1px rgba(124, 128, 129, 0.2);
        border: 0;
        margin-bottom: 1.5em;
    }

    blockquote {
        border-left: solid 0.5em rgba(124, 128, 129, 0.2);
        font-style: italic;
        padding: 1em 0 1em 2em;
    }