
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">    

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body >
  <!-- Header -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><h3>Predict car price</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PPT Presentation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


   <section id="banner">
   	<div class = "inner">
   		<header>
   			<h2>Predict car price</h2>
   		</header>
   		<p>Enter <strong>your car metrics</strong>
						<br>
						to find the car price.
						<br>
		
	</p>
	<br />
	<ul class="buttons stacked">
				<li><a href="#main" class="button fit scrolly">Start</a></li>
			</ul>
   	</div>
   	<!--<footer>
		   <ul class="buttons stacked">
				<li><a href="#main" class="button fit scrolly">Start</a></li>
			</ul>
	</footer>-->
   </section> 
    <!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="fa fa-chart-bar"></span>
						<h2>Enter a few car metrics<strong> below to find you car price using machine learning!</strong>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

									<header>
										<h2></h2>
									</header>
									<div class="container">
  										<h2>Questions</h2>
  										<p>Enter the 6 fields below to find a price:</p>
	  									<form>
										    <div class="form-group">
										      <label for="car_width">Car Width in inches:</label>
											  <select class="form-control" id="car_width">
											  	{% for car_width in data.car_widths %}
												  <option value="{{ car_width }}">{{ car_width }}</option>
												{% endfor %}
											  </select>
										    </div>
										    <div class="form-group">
										      <label for="car_weight">Car Weight:</label>
											  <select class="form-control" id="car_weight">
											  	{% for car_weight in data.car_weights %}
												  <option value="{{ car_weight }}">{{ car_weight }}</option>
												{% endfor %}
											  </select>
										    </div>
										    <div class="form-group">
										      <label for="engine_size">Engine Size:</label>
											  <select class="form-control" id="engine_size">
											  	{% for engine_size in data.engine_sizes %}
												  <option value="{{ engine_size }}">{{ engine_size }}</option>
												{% endfor %}
											  </select>
										    </div>
										    <div class="form-group">
										      <label for="engine_location">Engine Location:</label>
											  <select class="form-control" id="engine_location">
											  	{% for engine_location in data.engine_locations %}
												  	<option value="1">{{ engine_location }}</option>
												{% endfor %}
											  </select>
										    </div>
										    <div class="form-group">
										      <label for="car_height">Car Height:</label>
											  <select class="form-control" id="car_height">
											  	{% for car_height in data.car_heights %}
												  <option value="{{ car_height }}">{{ car_height }}</option>
												{% endfor %}
											  </select>
										    </div>
										    <div class="form-group">
										      <label for="car_company">Car Company:</label>
											  <select class="form-control" id="car_company">
											  	{% for car_company in data.car_companys %}
												  <option value="{{ car_company }}">{{ car_company }}</option>
												{% endfor %}
											  </select>
										    </div>
	  									</form>
									</div>
									<footer>
										<ul class="buttons">
											<li><a href="javascript:make_pred();" class="button">Find your car price</a></li>
										</ul>
									</footer>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-12 col-12-narrower">

									<section>
										<!--<span class="fa fa-check"></span>-->
										<header>
											<h3 id="predictLbl">Click the above button to find the price</h3>
										</header>
										<image id="calcImage" src="/static/css/images/calculating.gif" style="display: none;" />
										<p id="predicted_price"></p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->

				</article>
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
    	<!--Grid row-->
	    <div class="row">
	        <!--Grid column-->
	        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
	          	<h5 class="text-uppercase">Hina Abidi</h5>

	          	<section class="mb-4">
			        <!-- Linkedin -->
			        <a
			          class="btn btn-primary btn-floating m-1"
			          style="background-color: #0082ca;"
			          href="https://www.linkedin.com/in/hina-abidi-42a390214/"
			          role="button"
			          target="_blank"
			          >
			          <i class="fab fa-linkedin-in"></i>
			        </a>
			        <!-- Github -->
			        <a
			          class="btn btn-primary btn-floating m-1"
			          style="background-color: #333333;"
			          href="https://github.com/hinaabidi"
			          role="button"
			          target="_blank"
			          >
			          <i class="fab fa-github"></i>
			        </a>
	      		</section>
	      
    		</div>

    		<div class="col-lg-4 col-md-4 mb-4 mb-md-0">
	          	<h5 class="text-uppercase">Greg Andres</h5>

	          	<section class="mb-4">
			        <!-- Linkedin -->
			        <a
			          class="btn btn-primary btn-floating m-1"
			          style="background-color: #0082ca;"
			          href="https://www.linkedin.com/in/gregory-andres-46914176"
			          role="button"
			          target="_blank"
			          >
			          <i class="fab fa-linkedin-in"></i>
			        </a>
			        <!-- Github -->
			        <a
			          class="btn btn-primary btn-floating m-1"
			          style="background-color: #333333;"
			          href="https://github.com/Greg5361"
			          role="button"
			          target="_blank"
			          >
			          <i class="fab fa-github"></i>
			        </a>
	      		</section>
	      
    		</div>
    		<div class="col-lg-4 col-md-4 mb-4 mb-md-0">
	          	<h5 class="text-uppercase">Jacob Hash</h5>

	          	<section class="mb-4">
			        <!-- Linkedin -->
			        <a
			          class="btn btn-primary btn-floating m-1"
			          style="background-color: #0082ca;"
			          href=""
			          role="button"
			          target="_blank"
			          >
			          <i class="fab fa-linkedin-in"></i>
			        </a>
			        <!-- Github -->
			        <a
			          class="btn btn-primary btn-floating m-1"
			          style="background-color: #333333;"
			          href=""
			          role="button"
			          target="_blank"
			          >
			          <i class="fab fa-github"></i>
			        </a>
	      		</section>
	      
    		</div>
    	</div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
 <script src="static/js/app.js"></script>
</body>
</html>


